* {
    transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
    
  }
  
  html, body, section, .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    color: #fff;
    background: rgb(0, 0, 0);
    overflow:hidden;
  }
  
  section {
    width:400%;  
  }
  
  .page {
    position: absolute;
  }
  
  #p1 {
    left: 0;
    background-image: url("backg.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: top;
  }

  .overlay{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.8;
  }
  
  #p2 {
    left: 100%;
    background: rgb(255, 216, 43);
  }
  
  #p3 {
    left: 200%;
    background: #593C1F;
  }
  
  #p4 {
    left: 300%;
    background: rgb(252, 246, 249);
  }
  
  ul {
   position: fixed; 
   z-index: 1;
  }
  #t1:target .page#p1 {
      transform: translateX(0);
  }
  #t2:target .page#p2 {
      transform: translateX(-90%);
  }
  #t3:target .page#p3 {
      transform: translateX(-190%);
  }
  #t4:target .page#p4 {
      transform: translateX(-290%);
  }
  
  #t2:target .page#p1, 
  #t3:target .page#p1,
  #t4:target .page#p1 {
    background: black;
  }
  
  #t2:target .page#p1 .icon, 
  #t3:target .page#p1 .icon,
  #t4:target .page#p1 .icon {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }

  
  ul .icon:hover {
    color:rgb(250, 209, 25) ;
  }
  
 
  
  #t2:target ul .icon,
  #t3:target ul .icon,
  #t4:target ul .icon {
    transform: scale(.8); 
    transition-delay: .25s;
  }
  
  #t2:target #dos {
    transform: scale(1.2) !important;
  }
  
  #t3:target #tres {
    transform: scale(1.2) !important;
  }
  
  #t4:target #cuatro {
    transform: scale(1.2) !important;
  }
  
  ul {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    /*right: 0;*/
    margin: auto;
    height: 280px;
    width: 10%;
    padding: 0;
    text-align: center;
   }
  
  ul li {
    margin: 25px 0;
  }
  
  a {
    text-decoration: none;
    font-family: open sans, sans-serif;
    font-size: 32px;
    display: block;
    color: white;
  }
  
  
  
#resume_img{
 max-width: 800px;
 max-height: 600px;
 position: absolute;
 right: 0;
 bottom: -100px;
}


 .inner_text{
     position: absolute;
     font-size: 28px;
     float: left;
    font-family: 'Montserrat', sans-serif;
    left: 10vw;
    top: 30vh;
 }
 .button {
    display: inline-block;
    border-radius: 20px;
    background-color:rgb(250, 209, 25);
    border: none;
    color: rgb(37, 36, 36);
    text-align: center;
    font-size: 32px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

  }
  .button:hover{
    box-shadow: 0 3px 4px 0 rgba(8, 8, 8, 0.986), 0 5px 10px 0 rgb(77, 72, 72);
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    outline: none;
  }
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  p b{
      font-size: 36px;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
.form_container{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    left: -5%;
    top: 10%;
    font-family: 'Balsamiq Sans', cursive;

}
.form{
    display: inline-block;
    background-color: white;
    height: 80%;
    width: 80%;
    text-align: center;
    border-radius: 25px;
    padding: 0;
    overflow: hidden;
    margin: 0;
}
.form_div{
    float: right;
    display: block;
    height: 100%;
    width: 50%;
    background-color: white;
}
.Form_box{
    text-align:center;
    display: inline-block;
}
.input_label{
    display: block;
    color: black;
    float: left;
    font-family: 'Balsamiq Sans', cursive;
}

.form_img{
    float: left;
    width: 50%;
    height: 100%;
    background-image: url("info.jpg");
    background-position: left;
    background-size: cover;
        background-repeat: no-repeat;
}
#img_1{background-image: url("info.jpg");}
#img_3{background-image: url("passion.jpg");
background-position: center;

}
#img_2{background-image: url("edu_skill.jpg");}
.btn_box{
    display: block;
    text-align: center;
    width: 100%;
    height: 100px;
}
#btn_back_1,#btn_back_2,#btn_next_1,#btn_next_2,#btn_next_3,#btn_back_3{
  font-size: 28px;
  padding: 5px;
  display: inline-block;
  width: 120px;
}
#btn_back_1{
  cursor: not-allowed;
  opacity: 0.8;
}
#step_2,#step_3{
  display: none;
}


input{
    display: block;
    border: none;
    position: sticky;
    background: none;
    border-bottom: 1px solid #000;
    width: 250px;
    font-size: 18px;
    transition-duration: 0.01s;
}
input:focus{
    border-bottom:2.5px solid black;
}



.dropdown{
  padding: 0;
  border-top: none;
  width: 90%;
  display: inline-block;
  padding-bottom: 5px;
}
.head_line{
  color:black;
  font-size: 24px;
  margin-top: 0;
  float: left;
  }

.bar{
  width: 100%;
  height: 30px;
  min-width: 250px;
  background-color: rgb(250, 209, 25);
  display: inline-block;
  color: black;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 6px 11px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 6px 11px -4px rgba(0,0,0,0.75);
box-shadow: 3px 6px 11px -4px rgba(0,0,0,0.75);
}
.down_arrow{
  float: right;
  font-size: 24px;
  cursor: pointer;
  margin-right: 2px;
}

.input_div{
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display:none;
  padding: 4px 6px;
  color: rgb(5, 5, 5);
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
  width: 80%;
  overflow-y:auto;
  overflow-x: hidden;
}
.input_div input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: 100%;
  max-height: 250px;
  
}

.input_div .tag{
border-radius: 10px;
margin-right: 5px;
padding-left: 5px;
padding-right: 5px;
background-color: rgb(250, 209, 25) ;
color: black;
}
.input_div .tag [data-role="remove"] {
margin-left: 8px;
  cursor: pointer;
}
.input_div .tag [data-role="remove"]:after {
content: "x";
  padding: 0px 2px;
}
.input_div .tag [data-role="remove"]:hover {
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.input_div .tag [data-role="remove"]:hover:active {
box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
#eduform,#expform{
max-height: 180px;
width: 100%;
}
#exp_taginput,#taginput{
  max-height: 180px;
  display: inline-block;
}
#edu_form_btn,#exp_form_btn{
  width: 100px;
  font-size: 16px;
  padding: 2px 2px 2px 2px;
  float: left;
}
p{
  margin-top: 0;
}

#display_edu_info,#display_exp_info{
  width: 110%;
  height: 25px;
  display:none;
  margin-top: 5px;
  overflow-y: auto;
  padding: 2px 2px 2px 2px;
  font-size:14px;
}
.edu_info{
  margin-top: 0;
  width: auto;
}
.rmv_btn{
  cursor: pointer;
  margin-right: 3px;

}



  @media only screen and (max-width:1200px),only screen and (max-height:600px){
      #resume_img{
          display: none;
      }
      #p1{
          text-align: right;
      }
    .inner_text{
        position: absolute;
        right: 0;
        font-size: max(3vw,18px);
        margin-left: 25px; 
        margin-right: 10px;
        
    }
    #highlight{
        font-size: max(5vw,24px);
        
    }
    .button{
        display: block;
        float: right;
        margin-right: 5px;
    }
    #t1:target .page#p1 {
        transform: translateX(0);
    }
    #t2:target .page#p2 {
        transform: translateX(-85%);
    }
    #t3:target .page#p3 {
        transform: translateX(-185%);
    }
    #t4:target .page#p4 {
        transform: translateX(-285%);
    }
    

    .form_img{
        display: none;
    }
    .form_div{
        width: 100%;
    }
    .form{
        border-radius: 0;
    }
    input{
        font-size: 15px;
    }
    #btn_next_2,#btn_next_1,#btn_next_3{
      float: right;
      margin-right: 5vw;
      width: 25vw;
      max-width: 200px;
      min-width: 80px;
      font-size: 5vw;
    }
    #btn_back_2,#btn_back_1,#btn_back_3{
      float: left;
      margin-left: 5vw;
      width: 25vw;
      max-width: 200px; 
      min-width: 80px;
      font-size: 5vw;
    }
    .form{
      height: 90%;
    }

  }
  
  